﻿@font-face { font-family: OxygenLight; src: url(Oxygen-Light.ttf); }

body { background-color: #F3F3F3; font-family: Arial; color: #4D5967; font-size: 14px; }

a { color: #1968A0; }

h1, h2 { color: #4e4e4e; font-family: OxygenLight, Arial; font-weight: lighter; margin-top: 20px; margin-bottom: 20px; }
h1 { font-size: 30px; }
h2 { font-size: 20px; }
h3 { font-family: Arial; }

input {
	border: 1px #929292 solid; padding: 2px; /* Do not ask why we need Padding/Height to change the border colour...: http://stackoverflow.com/q/20655594/25124 */
}

hr {
	margin: 15px 0;
}