﻿.pageWithNavNav { width: 140px; float: left; position: relative; margin-left: -10px; margin-top: -10px; }
	.pageWithNavNav ul { padding: 0; }
	.pageWithNavNav ul ul { padding-left: 10px; }
	.pageWithNavNav li { list-style: none; border-bottom: 1px solid #929292; }
	.pageWithNavNav a { display: block; color: #1968a0; height: 36px; line-height: 36px; font-size: 15px; padding: 0 5px; cursor: pointer; }
	.pageWithNavNav a:hover { background-color: #E0E2E5; text-decoration: none; }
	.pageWithNavNav a:active, .pageWithNavNav a.active { background-color: #00587E; color: white; }
	/* Add an > arrow to the item */
	.pageWithNavNav a.group:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 13px 0 13px 13px;
		border-left-color: #cccccc;
		margin-top: 5px;
		margin-right: 5px;
	}
	.pageWithNavNav .submenu {
		position: absolute;
		top: 0;
		left: 0;
		width: 140px;
		background-color: white;
		height: 100%;
	}
.pageWithNavBody { margin-left: 140px; }
.pageWithNavBody .content { background-color: #F9F9F9; }