﻿#loginpage .box { margin-top: 30%; margin-bottom: 10px; padding: 20px 30px 30px; }
#loginpage .logo {
	position: absolute;
	top: -60px;
	left: 0px;
}
#loginpage .box h1 { font-size: 35px; margin-top: 5px; margin-bottom: 40px; }
#loginpage .loginform {
	margin: 0 90px;
}
#loginpage .form-group { margin-bottom: 30px; }
#loginpage input, #loginpage select {
	padding: 9px 10px;
	height: 40px;
	font-size: 15px;
	background-color: #F1F1F1;
	border: 1px solid #CECECE;
	width: 100%;
}
/* To keep boxes the same height for login/select estate, add padding to the select to account for less controls */
#loginpage select { margin: 33px 0; }
#loginpage .version { color: #7D7D7D; }
#loginpage .btn-primary { width: 200px; }

#loginpage .form-group .alert-danger { margin-top: 6px; padding: 6px 10px; }