﻿#page .actionmenu { float: right; margin-bottom: 15px; }

.hidden { display: none; }

/* Nice checkboxes */
.checkboxcell input[type=checkbox] { display: none; }
.checkboxcell { width: 18px; height: 18px; cursor: pointer; background-image: url(tickbox.png); background-position: center; background-repeat: no-repeat; box-sizing: content-box; /* Since we're applying width/height to the cell, we don't want to overwrite padding, so need to use content-box */ }
thead .checkboxcell.checked { background-image: url(tickbox_ticked_inverted.png) !important; }
.checkboxcell.checked { background-image: url(tickbox_ticked.png); }
.table-hover tr:hover .checkboxcell.checked { background-image: url(tickbox_ticked_inverted.png) !important; }
/* / Checkboxes */

.icon { display: block; width: 40px; height: 27px; background-repeat: no-repeat; background-position: center; }
