﻿.MultiLanguageTextBox .language-textboxes {
    position: relative;
    z-index: 10;
}

    .MultiLanguageTextBox .language-textboxes .textbox {
        display: none;
    }

    .MultiLanguageTextBox .language-textboxes .errorBubble {
        left: 100%;
    }

    .MultiLanguageTextBox .language-textboxes .selected {
        display: inline-block;
    }

.MultiLanguageTextBox .btn {
    margin-top: -2px;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    width: 45px;
    padding: 4px;
    color: #1968a0;
}

    .MultiLanguageTextBox .btn.selected, .MultiLanguageTextBox .btn.selected:hover {
        background-color: #929292 !important;
        color: #fff !important;
        border-color: #929292 !important;
    }


