﻿html { min-height: 100%; overflow-y: scroll; overflow-style: scrollbar; -ms-overflow-style: scrollbar; }
body { padding: 0; margin: 0; background-image: url(branding_energyhub.png); background-repeat: no-repeat; background-position: right -575px bottom -575px; background-attachment: fixed; }
	body.dialog { background-image: none; background-color: #E0E2E5; }

#topbar { background-color: white; font-size: 13px; border-bottom: 1px solid #cecece; height: 60px; padding: 10px 0 10px 40px; }

#menubutton { width: 40px; height: 40px; background-image: url(hamburger.png); float: left; cursor: pointer; }
	#menubutton:hover, #menubutton.open { background-image: url(hamburger_inverted.png); }

#menu { margin: 59px 0 0 23px; position: absolute; top: 0; left: 16px; width: 925px; background-color: white; border: solid 1px #4D5967; padding: 10px; z-index: 1000; }
	#menu .col { float: left; width: 158px; border-right: 1px solid rgba(202, 202, 202, 0.50); padding-right: 10px; padding-left: 10px; margin-top: 5px; margin-bottom: 10px; min-height: 260px; }
		#menu .col:nth-last-child(2) { border-right-width: 0; }
	#menu h3 { color: #F38C2F; margin-top: 0; font-weight: normal; font-size: 14px; line-height: 1.1; cursor: pointer; }
		#menu h3 a { color: #F38C2F; text-decoration: none; }
	#menu ul { list-style: none; margin: 0; padding: 0; }
	#menu li { margin: 10px 0; line-height: 18px; }
	#menu a { text-decoration: none; color: #4D5967; font-size: 14px; }
		#menu a:hover { color: #F38C2F; }

#logo { float: left; margin-top: -7px; margin-left: 26px; background-position: center; }
#logo, .logo { width: 198px; height: 54px; background-image: url(logo.png); background-repeat: no-repeat; }

#userinfo { height: 40px; line-height: 40px; color: #4D5967; margin-right: 10px; position: relative; margin-left: 200px; }
	#userinfo #userprofile { float: right; height: 40px; cursor: pointer; position: relative; background-color: #F9F9F9; padding-left: 15px; border: 1px solid #cecece; margin-top: -1px; }
		#userinfo #userprofile:hover { border-color: #1968A0; }
	#userinfo .name { font-weight: bold; }
		#userinfo .name:after { content: "\25BC"; margin-right: 2px; margin-left: 4px; }
	#userinfo #basket { float: right; width: 40px; height: 40px; background-image: url(basket.png); background-position: center 6px; background-repeat: no-repeat; cursor: pointer; position: relative; background-color: #F9F9F9; border: 1px solid #cecece; border-left-width: 0; margin-top: -1px; }
	#userinfo .basketcount { text-align: center; display: block; padding-top: 10px; font-size: 11px; color: #C70069; }
	#userinfo #basket:hover .basketcount { color: white; }
	#userinfo #basket:hover { background-color: #1968A0; background-image: url(basket_inverted.png); border-color: #1968A0; }

#useroptions { position: absolute; width: 300px; background-color: white; color: #4D5967; border: solid 1px #cecece; font-size: 15px; padding: 10px; top: 40px; right: 40px; line-height: normal; }
	#useroptions .face { width: 60px; height: 60px; background-size: cover; float: left; }
	#useroptions div:not(.face) { margin-left: 70px; line-height: 24px; }
	#useroptions .links { position: absolute; bottom: 8px; right: 12px; text-align: right; font-size: 14px; }
	#useroptions .settings { position: absolute; top: 15px; right: 15px; width: 15px; height: 16px; background-image: url(cog.png); }

#pagecontainer { padding: 20px 40px; }
#page { clear: both; width: 990px; }
	#page.wide { max-width: 1400px; }
	#page.narrow { max-width: 700px; }

#wall { position: absolute; background-color: black; margin-top: 60px; width: 100%; height: 100%; opacity: 0.2; z-index: 500; }

.box { border: 1px solid #cecece; background-color: white; padding: 17px 20px; margin-bottom: 25px; position: relative; }

.clear { clear: both; }
